.blc-bg{
    background: rgba(0, 0, 0, 0.04) url(../images/img-9.jpg) top left repeat;
    z-index: 999;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    width: 100%;
    bottom: 0;
    opacity: 1;
    min-height: 100vh;
    text-align: center;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15px 0;
}
main{
    width: 100%;
}